.container {
    width: 350px;
    margin: 0 auto;
    padding: 50px;
    background: #e0e0e0;
    border-radius: 50px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.wrapper input {
    margin-top: 10px;
}
.button {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}